@charset "UTF-8";
@font-face {
  font-family: FiraSans-Regular;
  src: url(fonts/FiraSans-Regular.ttf); }

@font-face {
  font-family: FiraSans-Medium;
  src: url(fonts/FiraSans-Medium.ttf); }

@font-face {
  font-family: FiraSans-MediumItalic;
  src: url(fonts/FiraSans-MediumItalic.ttf); }

@font-face {
  font-family: FiraSans-SemiBold;
  src: url(fonts/FiraSans-SemiBold.ttf); }

@font-face {
  font-family: Kleide-Regular;
  src: url(fonts/Kleide-Regular.ttf); }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  width: 100%;
  margin: auto;
  font-family: FiraSans-Regular, Arial, sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  outline: transparent; }
  a:hover {
    opacity: 0.5; }

button {
  outline: transparent;
  cursor: pointer; }

input {
  outline: transparent; }

.header {
  margin-top: 3px;
  padding: 2rem 5% 10rem;
  background-image: url(img/header_bg.jpg);
  background-size: cover;
  color: white; }

.nav {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  padding: 2rem 0;
  width: 100%;
  text-align: center;
  color: black;
  background: white; }
  .nav__menu {
    display: flex;
    justify-content: center;
    margin-top: 1rem; }
    .nav__menu li {
      margin: 0 10px;
      font-size: 1.1rem; }
  .nav__socials {
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    font-size: 2rem;
    color: #cf81fb; }
    .nav__socials li {
      margin-right: 15px; }

.brand {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem; }

.hamburger {
  position: absolute;
  right: 5%;
  top: 0;
  padding: 5px 10px;
  width: 5rem;
  height: 6.5rem;
  border: none;
  background-image: url(img/menu-btn.png);
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(4px 0 0 black);
  cursor: pointer; }
  .hamburger:hover .icon {
    opacity: 0.6; }
  .hamburger__menu {
    display: block;
    text-align: center;
    letter-spacing: 1px; }
  .hamburger .icon {
    position: relative;
    margin-top: -8px;
    width: 30px;
    height: 32px;
    transition: margin-top 0.35s ease-in-out; }
  .hamburger .line {
    position: absolute;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 8px;
    transition: all 0.35s ease-in-out; }
  .hamburger .top {
    top: 0%; }
  .hamburger .middle {
    top: 25%; }
  .hamburger .bottom {
    top: 50%; }
  .hamburger .icon.close {
    margin-top: -16px; }
  .hamburger .icon.close .top {
    transform: rotate(45deg);
    top: 30%; }
  .hamburger .icon.close .middle,
  .hamburger .icon.close .bottom {
    transform: rotate(-45deg);
    top: 30%; }

h1 {
  margin: 5rem 0 2rem;
  font: 600 6.2rem FiraSans-SemiBold;
  letter-spacing: 4px;
  text-align: center; }

.author {
  text-align: center;
  font: 400 2.2rem FiraSans-Regular; }
  .author span:first-child {
    margin-right: 0.5rem;
    font: 400 1.4rem FiraSans-MediumItalic; }
  .author span:nth-child(2) {
    text-transform: uppercase; }

.rating {
  text-align: center;
  margin-top: 1.5rem; }

.active {
  transform: translateY(0); }

.hide {
  opacity: 0; }

.info {
  position: relative;
  padding: 3rem 12% 13rem;
  display: flex;
  justify-content: space-between; }

.promo img {
  position: relative;
  top: -70px;
  max-width: 385px;
  width: 100%;
  box-shadow: 0px 2px 4px 1px black; }

.promo__socials {
  display: flex;
  justify-content: center;
  margin-top: -35px; }
  .promo__socials li {
    margin: 0 1rem; }
  .promo__socials .fab:before {
    font-size: 2.5rem;
    color: #41cde0; }

.description {
  width: 48%;
  color: #474747; }
  .description .price-tag {
    width: 237px;
    height: 167px;
    background-image: url(img/price-tag.png);
    background-repeat: no-repeat;
    background-size: cover; }
    .description .price-tag h2 {
      margin: 0 auto;
      width: 70%;
      font: normal 4.5rem/14rem FiraSans-Regular;
      text-align: center;
      color: #41cde0; }
  .description h3 {
    margin-top: 25px;
    font-size: 1.8rem; }
  .description__cover {
    padding: 20px 0;
    border-bottom: 1px solid rgba(105, 15, 105, 0.3); }
    .description__cover label {
      display: block;
      margin-bottom: 1rem;
      font-size: 1.3rem;
      cursor: pointer; }
      .description__cover label:before {
        content: '';
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-right: 15px;
        border: 2px solid #ffffff;
        border-radius: 50%;
        box-shadow: 0 0 0 2px #690f69;
        vertical-align: middle; }
    .description__cover input[type='radio'] {
      display: none; }
      .description__cover input[type='radio']:checked + label:before {
        background-color: #690f69; }
  .description__details {
    padding: 20px 0;
    border-bottom: 1px solid rgba(105, 15, 105, 0.3);
    font-size: 1.3rem; }
    .description__details li {
      margin-bottom: 4px; }
    .description__details b {
      margin-right: 8px; }
  .description__qty {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem; }
    .description__qty button {
      border: none;
      background: unset;
      font-size: 2rem; }
      .description__qty button.subtract {
        margin-right: 1.25rem; }
      .description__qty button.add {
        margin-left: 1.25rem; }
    .description__qty #productQuantity {
      padding: 10px 15px;
      width: 4.5rem;
      font-size: 16px;
      border: 2px solid #690f69;
      color: #41cde0; }
    .description__qty .addQty {
      position: relative;
      margin-left: 6rem;
      padding-right: 35px;
      padding-left: 55px;
      width: 24rem;
      font-size: 1.2rem;
      text-transform: uppercase;
      background: #690f69;
      color: #ffffff; }
      .description__qty .addQty:hover {
        background-color: #4a0b4a;
        color: rgba(255, 255, 255, 0.5); }
      .description__qty .addQty:before {
        position: absolute;
        top: 23%;
        left: 40px;
        content: '';
        width: 21px;
        height: 18px;
        background-image: url(img/shopping_basket.png); }

.photo-block {
  position: relative; }
  .photo-block img {
    width: 100%; }

.left, .leftArrow,
.right,
.rightArrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 48px;
  background-image: url(img/left.png);
  background-repeat: no-repeat;
  font-size: 2rem;
  cursor: pointer; }
  .left:hover, .leftArrow:hover,
  .right:hover,
  .rightArrow:hover {
    filter: saturate(50%); }
    .left:hover .arrow, .leftArrow:hover .arrow,
    .right:hover .arrow,
    .rightArrow:hover .arrow {
      opacity: 0.6; }
  .left .arrow, .leftArrow .arrow,
  .right .arrow,
  .rightArrow .arrow {
    transform: rotate(-45deg);
    margin-left: 25px;
    margin-top: 15px;
    width: 15px;
    height: 15px;
    border-top: 3px solid white;
    border-left: 3px solid white; }


.right,
.rightArrow {
  right: 0;
  background-image: url(img/right.png); }
  
  .right .arrow,
  .rightArrow .arrow {
    transform: rotate(135deg); }

.annotation {
  padding: 12.5rem 12%;
  background-color: white;
  background-image: url(img/illustration_1.jpg);
  background-repeat: no-repeat;
  background-position: 82% 67%;
  background-size: 20% auto; }
  .annotation__summary {
    border: 5px solid #690f69;
    padding: 35px 55px 55px 55px;
    width: 80%; }
    .annotation__summary h2 {
      font: 400 2.4rem FiraSans-Medium;
      color: #690f69; }
    .annotation__summary img {
      display: none; }
    .annotation__summary p {
      margin-top: 1rem;
      font: 400 1.3rem FiraSans-Regular;
      line-height: 1.7;
      color: #474747; }

.recommendations {
  position: relative;
  padding: 7rem 12% 8rem;
  background-color: #de3a6f; }
  .recommendations h2 {
    text-align: center;
    font: 700 3rem FiraSans-SemiBold;
    color: white; }
  .recommendations__list {
    margin-top: 4rem; }
    .recommendations__list img {
      margin: 26px;
      box-shadow: -5px 5px 0 2px #b62964, 0 0 0 13px #de3a6f, 0 0 0 16px white;
      outline: transparent; }

.leftArrow {
  left: 0; }

.leftArrow,
.rightArrow {
  top: 55%; }

.delivery {
  display: flex; }
  .delivery > img {
    width: 100%; }
  .delivery__details {
    padding: 10rem 15rem 10rem 8rem; }
  .delivery p {
    margin-top: 2rem;
    font: 400 1.3rem/2.4rem FiraSans-Regular;
    color: #474747; }
  .delivery a {
    letter-spacing: 1px;
    font: 400 1.4rem/2.4rem FiraSans-MediumItalic;
    color: #690f69; }
  .delivery p,
  .delivery a {
    margin-left: 2rem; }

.footer {
  background-color: #6b3a96; }
  .footer__logo {
    padding: 20rem 50% 1.5rem 50%;
    background-image: url(img/footer_bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover; }

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  padding: 0 10% 2rem 12%;
  color: white; }
  .footer-nav__menu {
    display: flex;
    width: 31%;
    font-size: 1.2rem;
    text-transform: uppercase; }
    .footer-nav__menu li:not(:last-child) {
      margin-right: 2rem; }
  .footer-nav a {
    transition: box-shadow 0.2s ease-in-out; }
  .footer-nav a:hover {
    opacity: 0.5; }
  .footer-nav a[href^='tel:'] {
    font: 400 3rem/1rem Kleide-Regular; }
  .footer-nav a[href^='mailto:'] {
    font-size: 1.3rem; }
  .footer-nav__socials {
    display: flex;
    margin-top: -2px; }
    .footer-nav__socials li:not(:first-child) {
      margin-left: 2rem; }
    .footer-nav__socials a {
      font-size: 2rem; }

@media (max-width: 576px) {
  .header h1 {
    font-size: 4.2rem; }
  .brand img {
    width: 70%; }
  .brand .hamburger {
    top: -1rem; }
  .brand .hamburger__menu {
    display: none; }
  .brand .icon {
    margin-top: 0; }
    .brand .icon.close {
      margin-top: 0; }
  .nav > a {
    display: block;
    margin-top: 4rem; }
  .nav img {
    width: 50%;
    max-width: 155px; }
  .nav__socials {
    font-size: 1.8rem; }
  .info {
    padding: 2rem 10% 7rem;
    flex-direction: column; }
    .info .promo__socials .fab:before {
      font-size: 2rem; }
    .info .description {
      margin-top: 5rem;
      width: auto;
      color: #474747; }
      .info .description__qty {
        flex-direction: column;
        margin-top: 2rem; }
      .info .description .addQty {
        margin-top: 2rem;
        margin-left: 0;
        padding: 15px 35px 15px 55px;
        width: 100%;
        max-width: 245px; }
      .info .description .price-tag h2 {
        font-size: 3.8rem; }
  .photo-block .left, .photo-block .leftArrow,
  .photo-block .right,
  .photo-block .rightArrow {
    display: none; }
  .photo-block .slick-dots li button:before {
    font-family: 'slick';
    font-size: 15px;
    line-height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    content: '•';
    text-align: center;
    color: #690f69;
    -webkit-font-smoothing: antialiased; }
  .photo-block .slick-dots li.active button:before {
    opacity: 0.75;
    color: #690f69; }
  .annotation {
    padding: 8.5rem 10%;
    background-image: unset; }
    .annotation__summary {
      padding: 30px 25px 40px 25px;
      width: auto; }
      .annotation__summary img {
        position: unset;
        display: block;
        width: 60%;
        float: right; }
  .recommendations {
    padding: 4rem 10% 6rem; }
    .recommendations h2 {
      font: 400 2.5rem FiraSans-Regular; }
    .recommendations .left, .recommendations .leftArrow,
    .recommendations .right,
    .recommendations .rightArrow {
      display: none; }
  .delivery {
    flex-direction: column; }
    .delivery__details {
      padding: 5rem 10% 6rem; }
      .delivery__details p,
      .delivery__details a {
        margin-left: 0; }
      .delivery__details a {
        display: block;
        margin-top: 2rem; }
  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
    .footer__logo {
      margin: 2.5rem auto;
      padding: 0;
      background-image: unset; }
    .footer .footer-nav {
      flex-direction: column;
      align-items: center;
      margin-top: 4rem; }
      .footer .footer-nav__menu {
        display: block;
        width: auto;
        text-align: center; }
        .footer .footer-nav__menu li {
          margin-bottom: 2rem;
          margin-right: 0; }
      .footer .footer-nav > a {
        margin-top: 3rem; }
      .footer .footer-nav a[href^='tel'] {
        font-size: 2.5rem; }
      .footer .footer-nav__socials {
        margin-top: 3rem; } }

@media (min-width: 577px) and (max-width: 992px) {
  .info {
    flex-direction: column;
    padding: 2rem 12% 7rem; }
    .info .promo img {
      transform: translateX(-50%);
      left: 50%; }
    .info .description {
      margin-top: 5rem;
      width: auto; }
      .info .description__qty {
        flex-direction: row; }
      .info .description .addQty {
        margin-top: 0; }
      .info .description .price-tag {
        margin: 0 auto; }
  .annotation {
    padding: 8.5rem 12%;
    background-position: 97% 67%; }
    .annotation__summary {
      width: 100%; }
  .slick-dots {
    bottom: -50px; }
  .delivery {
    position: relative; }
    .delivery > img {
      position: absolute;
      right: 20px;
      top: 18px;
      z-index: 2;
      opacity: 0.3;
      transform: rotate(20deg);
      border-radius: 50%;
      width: 230px; }
    .delivery__details {
      position: relative;
      z-index: 3;
      padding: 6rem 12%; }
  .footer__logo {
    padding: 20rem 0 1.5rem;
    background-size: cover; }
    .footer__logo a {
      display: block;
      margin: 0 auto;
      text-align: center; }
  .footer .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    padding: 0px 10% 2rem; }
    .footer .footer-nav__menu {
      justify-content: space-around;
      width: 100%;
      margin-bottom: 2rem;
      font-size: 1.4rem; }
      .footer .footer-nav__menu li {
        margin-right: 0; }
    .footer .footer-nav a[href^='tel:'] {
      font: 400 1.4rem/1rem Kleide-Regular; } }

@media (min-width: 993px) and (max-width: 1200px) {
  .info {
    padding: 3rem 10% 13rem; }
    .info .description {
      width: 43%; }
      .info .description .addQty {
        margin-left: 0rem;
        width: 21rem; }
        .info .description .addQty:before {
          left: 25px; }
  .delivery__details {
    padding: 10rem 8rem; }
  .footer__logo {
    background-size: cover; }
  .footer .footer-nav {
    padding: 0 7% 2rem; }
    .footer .footer-nav a[href^='tel'] {
      font-size: 2.2rem; }
    .footer .footer-nav__menu {
      width: 35%; }
    .footer .footer-nav__socials a {
      font-size: 1.8rem; } }
