// ANNOTATION
.annotation {
  padding: 12.5rem 12%;
  background-color: white;
  background-image: url(img/illustration_1.jpg);
  background-repeat: no-repeat;
  background-position: 82% 67%;
  background-size: 20% auto;
  &__summary {
    border: 5px solid #690f69;
    padding: 35px 55px 55px 55px;
    width: 80%;
    h2 {
      font: 400 2.4rem $firaMedium;
      color: $purple;
    }
    img {
      display: none;
    }
    p {
      margin-top: 1rem;
      font: 400 1.3rem $firaRegular;
      line-height: 1.7;
      color: #474747;
    }
  }
}
